.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin-bottom: 70px;
  background-color: #002417;
}

.title {
  color: white;
  font-size: 25px;
  margin: 30px 0;
}

.formContainer {
  width: 60%;
  margin: 30px 0;
}

.form {
  border: 2px solid white;
  margin-bottom: 20px;
  color: white;
}

.label {
  color: white;
}

.button {
  background-color: rgb(6, 130, 68);
  padding: 10px 20px;
  color: white;
}

.button:hover {
  background-color: #004d29;
}
